:root {
	--bg: #151515;
	--block-color: #151514;
	--block-color-hover: linear-gradient(117.3deg, rgba(254, 198, 133, 0.2) 3.48%, rgba(0, 0, 0, 0.038) 92.73%),
linear-gradient(0deg, #151514, #151514);
	--description: #D4D4D4;
	--card-icon-color-defalult: #272727;
	--card-icon-color-hover: rgba(254, 198, 133, 0.56);
	--card-width: 300px;
	--card-height: 100px;
	--serverlist-color: #D4AF82;
	--discord-color: #38364C;
	--discord-color-hover:#7D78A9;
	--discord-border-color:1px solid #38364C;
	--White: #FFF;
}


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

#myInput {
  position: absolute;
  top: -999999px;
}

 body {
	padding: 30px;
	font-family: 'Geometria', sans-serif;
	background: var(--bg);
    
}


main {
	margin-top: 30px;
}

/* =--= */

.info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    width: fit-content;
}

.info-description {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/wp6005719.webp);
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--description);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 15px;
    border: var(--block-border);
    width: fit-content;
}

.info-description p {
    font-weight: 500;
}

.info-description a {
    display: contents;
    color: var(--link-color);
    transition: 0.3s;
}

.info-description a:hover {
	text-decoration: underline;
}

.server-info {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(img/SDs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    border: var(--block-border);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.server-info #header {
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

.server-info li {
    color: var(--serverlist-color);
    list-style: none;
}

.server-info p {
    color: #fff;
}

.global-container {
	display: flex;
	flex-direction: row;
	gap: 15px;
    align-items: stretch;

}

.Name-container {
	display: flex;
    flex-direction: row;
    background: url(img/bg.png);
    border: var(--block-border);
    height: -webkit-fill-available;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.text-block {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-block h1 {
	font-weight: bold;
	font-size: 36px;
	letter-spacing: 0.05em;
	color: var(--White);
}

.text-block p {
	font-weight: normal;
	font-size: 22px;
	color: var(--description);
}

.link-block {
	display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
}

#Discord svg {
	width: 32px;
	height: 32px;
}

#Discord {
	padding: 20px;
	background: var(--discord-color);
	border: var(--block-border);
	box-sizing: border-box;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0.03em;
	color: var(--White);
	display: flex;
	align-items: center;
	gap: 5px;
	transition: 0.3s;
}

#Discord:hover {
	background: var(--discord-color-hover);
	border: var(--discord-border-color);
	
}

div.Name-container div.text-block a {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--link-color);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    padding: 8px;
    background: var(--block-color);
    border: var(--block-border);
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.3s;
}

div.Name-container div.text-block a:hover {
	background: #82d38a29;
}

#copy-check {
	display: none;
	animation: 1s linear 0.5s move_eye;
}

@keyframes move_eye { from { opacity: 100%; } to { opacity:0%; }  }

@media screen and (max-width: 768px) {
	body {
		padding: 15px;
	}

	.global-container {
		flex-direction: column;
	}

	.Name-container {
		flex-direction: column;
		gap: 15px;
		align-items: stretch;
	}

	.link-block {
		flex-direction: column;
	}

	#Discord {
		flex-direction: column;
		padding: 15px;
	}

	.text-block h1 {
		font-size: 30px;
	}

	.text-block p {
		font-size: 21px;
	}

	footer {
		display: none;
	}

	div.Name-container div.text-block a {
		font-size: 20px;
	}

}