:root {
	--bg: #151515;
	--block-color: #151514;
	--block-color-hover: linear-gradient(117.3deg, rgba(254, 198, 133, 0.2) 3.48%, rgba(0, 0, 0, 0.038) 92.73%),
linear-gradient(0deg, #151514, #151514);
	--description: #D4D4D4;
	--card-icon-color-defalult: #272727;
	--card-icon-color-hover: rgba(254, 198, 133, 0.56);
	--card-width: 300px;
	--card-height: 100px;
	--link-color: #82D38A;
	--serverlist-color: #D4AF82;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	padding: 30px;
	font-family: 'Geometria', sans-serif;
	background: var(--bg);
    
}

main {
	margin-top: 30px;
}

/* =--= */

.info-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
}

.info-description {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wp6005719.webp);
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--description);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 15px;
    border: var(--block-border);
    width: fit-content;
}

.info-description p {
    font-weight: 500;
}

.info-description a {
    display: contents;
    color: var(--link-color);
    transition: 0.3s;
}

.info-description a:hover {
	text-decoration: underline;
}

.server-info {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/SDs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    border: var(--block-border);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.server-info #header {
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

.server-info li {
    color: var(--serverlist-color);
    list-style: none;
}

.server-info p {
    color: #fff;
}

@media screen and (max-width: 768px) {
	body {
		padding: 15px;
	}

	main {
		margin-top: 30px;
	    flex-direction: column;
	}
	.info-container {
		flex-direction: column;
	}
}

